<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <h1>Just Showcasing soem random Meme!</h1>
    <p>This is a random meme!! If you wanna see a new one, hang around for 30 more seconds!</p>
    <p><img src="{{meme_pic}}" alt="Some Radom Reddit Meme"></p>
    <p>Current subreddit: {{subreddit}}</p>
</body>
</html>